.pregledaj-projekte-container {
  padding: 80px 20px; /* Dodajemo padding od vrha za prostor ispod navigacijske trake */
  text-align: center;
}

.projekti-grid {
  display: flex; /* Koristimo flexbox za prikaz kartica jedan pored drugog */
  flex-wrap: wrap; /* Omogućavamo prelamanje kartica na manjim ekranima */
  justify-content: flex-start; /* Poravnanje kartica na početak reda */
  gap: 60px; /* Povećavamo razmak između kartica */
  margin-top: 20px;
}

.projekt-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  flex: 0 1 calc(33.333% - 20px); /* Kartice zauzimaju trećinu širine grida minus razmak */
  max-width: 300px; /* Ograničavamo maksimalnu širinu kartica */
}

.projekt-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.projekt-card p {
  font-size: 1rem;
  margin: 5px 0;
}